body {
    background-color: rgb(117, 67, 48);
    font-family:'Brush Script MT', cursive;
    color:#abffff;
}
.bar-logo {
    background: url(../image/logo.avif) no-repeat center center;
    background-size: 100%;
    width: 100px;
    height: 100px;
}
.my-photo {
    background: url(../image/image.avif) no-repeat center center;
    background-size: 62%;
    width: 394px;
    height: 312px;
}
.bar-text {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: right;
}
.container {
    margin-top: 30px;
}
.title-photo {
    text-align: center;
    font-size: 24px;
}
#myButton {
    border: none;
    width: 150px;
    height: 50px;
    background-color: rgb(124, 81, 165);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    align-items: center;
}
.button_js {
    text-align: center;
}
#demo {
    width: 100%;
}
.img1 {
    width: 300px;
    height: 300px;
}
.index {
    text-align: center;
}